/******		General		******/

@font-face { font-family: 'AkzidenzGrotesk'; src: url( ../fnt/AkzidenzGrotesk-MediumCondAlt.otf ); }
@font-face { font-family: 'AkzidenzGroteskRegular'; src: url( ../fnt/AkzidenzGrotesk-Regular.otf ); }
@font-face { font-family: 'AkzidenzGroteskLight'; src: url( ../fnt/AkzidenzGrotesk-LightCond.otf ); }
@font-face { font-family: 'AkzidenzGroteskBold'; src: url( ../fnt/AkzidenzGrotesk-BoldCondAlt.otf ); }

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #000;
	font: normal normal normal 16px AkzidenzGrotesk;
	letter-spacing: 1px;
	text-align: center;
	margin: 0px;
}

h4 {
	margin-top: 0;
}

#content {
	background: #000 url(../img/bg.jpg) no-repeat scroll top center;
	color: rgb(250, 245, 220);
	margin: 0 auto;
	/*padding-bottom: 50px;*/
	min-height: 570px;
	overflow: hidden;
	position: relative;
	width: 978px;
}
	#content > img {
		display: block;
	}


/******		Content		******/

#preline {
	border-bottom: 1px solid;
	color: rgb(250, 245, 220);
	margin: 0 auto;
	padding: 10px;
	font-size: 100%;
	font-weight: 300;
	font-family: AkzidenzGrotesk, sans-serif;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	width: 250px;
}

#headline {
	font: normal normal bold 120px AkzidenzGroteskBold, sans-serif;
	margin: 0;
	text-shadow: #000 7px 7px 7px;
	text-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
	letter-spacing: 2px;
}

#subline {
	margin: 0px auto;
	width: 500px;
}

#playwrap {
	margin: 0px auto;
	position: relative;
	width: 500px;
	z-index: 0;
}
	#playwrap a {
		height: 100%;
		width: 100%;
	}
	#playimage {
		width: 100%;
	}
	#playbutton {
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255, 0.7);
		border-radius: 35px;
		box-shadow: #000 3px 5px 7px;
		left: 230px;
		height: 70px;
		position: absolute;
		top: 135px;
		width: 70px;
	}
		#playbutton img {
			height: 50px;
			margin: 10px 9px 10px 11px;
			width: 50px;
		}
	a:hover #playbutton {
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255, 0.9);
		box-shadow: none;
/*		box-shadow: #EEE 0 0 5px;*/
	}
	#envelope {
		background-color: #FDA;
		bottom: 10px;
		height: 250px;
		right: -50px;
		margin: 0px auto;
		position: absolute;
		width: 450px;
		z-index: -1;
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
	}


/******		Video		******/

#video-closebutton {
	display: none;
	font-size: 200%;
	line-height: 30px;
	text-shadow: #FFF 0 0 2px;
	position: fixed;
	top: 6px;
	right: 16px;
	opacity: .8;
	-moz-opacity: .8;
		filter:alpha(opacity=0.8);
	z-index: 10;
}

#videoframe {
	display: none;
	margin: 0 auto;
	position: absolute;
	top: 0;
	height: 100%;
/*	width: 0;*/
}


/******		Navigation		******/

/*#navwrap {
	bottom: 0px;
	left: 0px;
	padding-top: 50px;
	position: absolute;
}*/

#nav {
	background-color: rgb(250, 245, 220);
	bottom: 0px;
/*	font-family: AkzidenzGroteskLight, sans-serif;*/
	left: 0px;
	margin: 50px 0 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
}
	#nav li {
		display: inline-block;
		height: 30px;
		list-style-type: none;
		overflow: visible;
		padding: 15px 0;
		position: relative;
		width: 50px;
	}
		#nav .dot {
			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			box-shadow: rgba(0,0,0,0.07) 0px 7px 3px;
			display: block;
			height: 10px;
			margin: 0px auto 10px;
			width: 10px;
		}
			#nav li.active .dot, #nav li.active .nav-progress, #nav li a:hover .dot {
				background-color: rgb(185, 80, 50);
			}
		#nav .nav-progressbg {
			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.5);
			box-shadow: rgba(0,0,0,0.2) 0 7px 4px;
			height: 2px;
			position: absolute;
			top: 4px;
			left: 50%;
			width: 54px;
			z-index: -1;
		}
		#nav .nav-progress {
			background-color: rgb(185, 80, 50);
			height: 2px;
			position: absolute;
			top: 4px;
			left: 50%;
			width: 0;
			z-index: -1;
		}
		#nav .text {
			margin-bottom: 10px;
		}
		
	#nav #audio {
/*		padding: 0;*/
		position: absolute;
		right: 50px;
	}
	
		#nav #audio a {
			background-image: url(../ico/audio.png);
			height: 25px;
			width: 25px;
		}
			#nav #audio a.muted {
				background-position: 0 25px;
			}
		
		#nav li a {
			color: #000;
			display: block;
			height: 100%;
			position: relative;
			text-decoration: none;
			width: 100%;
		}
			#nav li a:hover:before {
				background-color: rgb(255,255,255);
				background-color: rgba(255, 255, 255, 0.5);
				color: #FFF;
				content: attr(title);
				font-family: AkzidenzGroteskLight;
				left: -35px;
				padding: 5px 10px;
				position: absolute;
				text-align: center;
				top: -43px;
				width: 107px;
				white-space: nowrap;
				z-index: 5;
			}
			#nav li.nopopover a:hover:before {
				content: none;
			}


/******		Modals		******/

#info-nav {
	margin: 0;
}
#info-nav li a {
	height: 45px;
}

#info-modal.modal {
	background: transparent url(../img/info-modal-bg.png) no-repeat scroll top left;
	border: none;
	box-shadow: none;
	font-family: AkzidenzGrotesk;
	height: 405px;
	text-align: left;
	margin-left: -317px;
	overflow: visible;
	width: 634px;
}
	#info-modal .modal-header {
		border: none;
		padding: 25px 25px 10px;
	}
		#info-nav a {
			padding: 0;
			margin: 10px;
			overflow: hidden;
		}
		#info-nav #info-ausstellung {
			background: transparent url(../fnt/info-ausstellung.png) no-repeat scroll top left;
			height: 45px;
			width: 106px;
		}
			#info-modal #info-ausstellung:hover {
				background-position: 0 -45px;
			}
		#info-nav #info-kontakt {
			background: transparent url(../fnt/info-kontakt.png) no-repeat scroll top left;
			height: 45px;
			width: 90px;
		}
			#info-modal #info-kontakt:hover {
				background-position: 0 -45px;
			}
		#info-nav #info-anfahrt {
			background: transparent url(../fnt/info-anfahrt.png) no-repeat scroll top left;
			height: 45px;
			width: 90px;
		}
			#info-modal #info-anfahrt:hover {
				background-position: 0 -45px;
			}
		#info-nav #info-impressum {
			background: transparent url(../fnt/info-impressum.png) no-repeat scroll top left;
			height: 45px;
			width: 106px;
		}
			#info-modal #info-impressum:hover {
				background-position: 0 -45px;
			}
	#info-modal .modal-body {
		height: 266px;
		padding: 0 25px 25px;
		overflow: visible;
	}
	#info-sidebar, #info-content {
		float: left;
		height: inherit;
		width: 282px;
	}
	#info-sidebar {
		padding-right: 20px;
		overflow: visible;
	}
	#info-content {
		overflow: hidden;
	}

#social-buttons {
	position:fixed;
	right: 50px;
	top: 14px;
	width: 70px;
}