/******		General		******/

@font-face { font-family: 'AkzidenzGrotesk'; src: url( ../fnt/AkzidenzGrotesk-MediumCondAlt.otf ); }
@font-face { font-family: 'AkzidenzGroteskRegular'; src: url( ../fnt/AkzidenzGrotesk-Regular.otf ); }
@font-face { font-family: 'AkzidenzGroteskLight'; src: url( ../fnt/AkzidenzGrotesk-LightCond.otf ); }
@font-face { font-family: 'AkzidenzGroteskBold'; src: url( ../fnt/AkzidenzGrotesk-BoldCondAlt.otf ); }

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #000;
	font: normal normal normal 16px AkzidenzGrotesk;
	letter-spacing: 1px;
	text-align: center;
	margin: 0px;
}

h4 {
	margin-top: 0;
}

#content {
	background: #000 url(../img/bg.jpg) no-repeat scroll top center;
	color: rgb(250, 245, 220);
	margin: 0 auto;
	min-height: 570px;
	overflow: hidden;
	position: relative;
	width: 978px;
}
	#content > img {
		display: block;
	}


/******		Content		******/

#preline {
	border-bottom: 1px solid;
	color: rgb(255, 255, 255);
	margin: 0 auto;
	padding: 2% 10px 10px;
	font-size: 100%;
	font-weight: 300;
	font-family: AkzidenzGrotesk, sans-serif;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	width: 250px;
}

#headline {
	font: normal normal bold 110px AkzidenzGroteskBold, sans-serif;
	margin: 0px;
	margin-top: 3%;
	text-shadow: #000 7px 7px 7px;
	text-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
	letter-spacing: 2px;
}

#subline {
	margin: -10px auto;
	width: 490px;
	margin-left: 24%;
}

#muenze {

	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(8deg);
	-webkit-transform: rotate(-14deg);
	left: 230px;
	position: absolute;
	transform: rotate(20deg);
	top: 230px;
}

#muenze2 {

	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(8deg);
	-webkit-transform: rotate(-14deg);
	left: 200px;
	position: absolute;
	transform: rotate(20deg);
	top: 370px;
}

#bueroklammer3 {

	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(8deg);
	-webkit-transform: rotate(7deg);
	left: 435px;
	position: absolute;
	transform: rotate(-40deg);
	top: 0px;
}

#postcardwrap {
	margin: 0px auto;
	margin-top: 1.5%;
	position: relative;
	width: 440px;
	z-index: 0;
}
	#postcardwrap a {
		height: 100%;
		width: 100%;
	}
	#postcard {
		width: 100%;
	}
	#playButton {
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255, 0.5);
		border-radius: 35px;
		box-shadow: #000 3px 5px 5px;
		box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 5px;
		left: 50%;
		height: 60px;
		margin: -30px 0 0 -30px;
		position: absolute;
		top: 50%;
		width: 60px;
	}
	a:hover #playButton {
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255, 0.9);
/*		box-shadow: none;*/
	}
	a:active #playButton {
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255, 1);
		box-shadow: none;
		margin-top: -27px;
	}
		#playButton img {
			height: 40px;
			margin: 10px 9px 10px 11px;
			width: 40px;
		}
	#envelope {
		background-color: #FDA;
		bottom: 10px;
		height: 230px;
		right: -50px;
		margin: 0px auto;
		position: absolute;
		width: 400px;
		z-index: -1;
		-webkit-transform: rotate(-9deg);
		-moz-transform: rotate(-9deg);
	}


/******		Video		******/

.closeButton {
	font-size: 150%;
	font-weight: normal;
/*	line-height: 30px;*/
	opacity: .5;
	-moz-opacity: .5;
	filter:alpha(opacity=0.5);
}
	.closeButton:hover {
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1);
	}
.frameCloseButton {
	color: rgb(250, 245, 220);
	display: none;
	text-shadow: #000 0 0 2px;
	position: fixed;
	top: 18px;
	right: 20px;
	z-index: 10;
}

#videoframe, #answerframe{
	display: none;
	margin: 0 auto;
	position: fixed;
	top: 0;
	height: 100%;
}
#videoframe {
	background-color: #000;
}


/******		Navigation		******/

#navwrap {
	bottom: 0px;
	position: fixed;
	width: 100%;
	z-index: 10;
	height: 65px;

}
	#nav {
		background-color: rgb(250, 245, 220);
		bottom: 0px;
		margin: 0;
		padding: 0;
		position: fixed;
		width: 100%;
	}
		#nav li {
			display: inline-block;
			height: 30px;
			list-style-type: none;
			overflow: visible;
			padding: 15px 0;
			position: relative;
			width: 50px;
		}
			#nav .dot {
				background-color: rgb(0, 0, 0);
				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 5px;
				box-shadow: rgba(0,0,0,0.07) 0px 7px 3px;
				display: block;
				height: 10px;
				margin: 0px auto 10px;
				position: relative;
				width: 10px;
				z-index: 10;
			}
				#nav li.active .dot, #nav li.active .nav-progress, #nav li a:hover .dot {
					background-color: rgb(185, 80, 50);
				}
			#nav .nav-progressbg {
				background-color: rgb(0, 0, 0);
				background-color: rgba(0, 0, 0, 0.5);
				box-shadow: rgba(0,0,0,0.2) 0 7px 4px;
				height: 2px;
				position: absolute;
				top: 4px;
				left: 50%;
				width: 54px;
			}
			#nav .nav-progress {
				background-color: rgb(185, 80, 50);
				height: 2px;
				position: absolute;
				top: 4px;
				left: 50%;
				width: 0;
			}
			#nav .text {
				margin-bottom: 10px;
			}
		
		#nav #audio {
			margin-top: 4px;
			position: absolute;
			right: 40px;
			width: auto;
		}
			#nav #audio a {
				background-image: url(../ico/audio.png);
				height: 25px;
				width: 25px;
			}
				#nav #audio a.muted {
					background-position: 0 25px;
				}
		
			#nav li a {
				color: #000;
				display: block;
				height: 100%;
				position: relative;
				text-decoration: none;
				width: 100%;
			}
				#nav li a:before {
					opacity: 0;
				}
					#nav li a:hover:before {
						background-color: #999;
						color: #FFF;
						content: attr(title);
						font-family: AkzidenzGroteskLight;
						left: -35px;
						padding: 5px 10px;
						position: absolute;
						text-align: center;
						top: -45px;
						opacity: 1;
						width: 107px;
						white-space: nowrap;
						z-index: 5;
					}
				#nav li.nopopover a:before {
					content: none;
				}


/******		Info Modal		******/

#info-modal.modal {
	background: transparent url(../img/info-modal-bg.png) no-repeat scroll top left;
	border: none;
	box-shadow: none;
	font-family: AkzidenzGrotesk;
	height: 405px;
	text-align: left;
	margin-left: -317px;
	overflow: visible;
	top: 130px;
	width: 634px;
}
	#info-modal .modal-header {
		border: none;
		padding: 16px 25px 19px;
	}
		#info-modal #infoCloseButton {
			position: absolute;
			right: 20px;
			top: 18px;
		}
		#info-nav {
			margin: 0;
		}
			#info-nav a {
				height: 45px;
				padding: 0;
				margin: 10px 21px;
				overflow: hidden;
			}
				#info-nav a:hover, #info-nav a.active {
					background-position: 0 -45px;
				}
			#info-ausstellung {
				background: transparent url(../fnt/info-ausstellung.png) no-repeat scroll top left;
				height: 45px;
				width: 106px;
			}
			#info-kontakt {
				background: transparent url(../fnt/info-kontakt.png) no-repeat scroll top left;
				height: 45px;
				width: 90px;
			}
			#info-anfahrt {
				background: transparent url(../fnt/info-anfahrt.png) no-repeat scroll top left;
				height: 45px;
				width: 90px;
			}
			#info-impressum {
				background: transparent url(../fnt/info-impressum.png) no-repeat scroll top left;
				height: 45px;
				width: 106px;
			}
	#info-modal .modal-body {
		height: 266px;
		padding: 0 25px 25px;
		overflow: visible;
	}
		#info-sidebar, #info-content {
			float: left;
			height: inherit;
			width: 282px;
		}
		#info-sidebar {
			padding-right: 20px;
			overflow: visible;
		}
		#info-content {
			overflow: hidden;
		}


/******		Quiz Modal		******/
#quiz-modal {
	background: transparent url(../img/postcard-back.png) no-repeat scroll top left;
	border: none;
	box-shadow: none;
	height: 355px;
	text-align: left;
	top: 50%;
	margin-top: -150px;
}
	#quiz-modal .modal-header {
		border: none;
		font-family: AkzidenzGroteskRegular, sans-serif;
		font-size: 13,3px;
		padding: 65px 155px 10px 40px;
	}
	#quiz-modal .modal-body {
/*		height: 100%;*/
		position: static;
		overflow: visible;
	}
	#quiz-modal .modal-body form {
		padding: 0 25px 25px;
	}
	#quiz-modal #answerButton {
		position: absolute;
		bottom: 30px;
		right: 30px;
		font-size: 30px;
		color: #d44f2d;
	}
		#quiz-modal #answerButton:hover {
			color: #000;
			text-decoration: none;
		}
	
#social-buttons {
	position:fixed;
	right: 45px;
	top: 20px;
	width: 70px;
}
	#social-buttons a {
		opacity: 0.5;
	}
	#social-buttons a:hover {
		opacity: 1;
	}